<ion-content>
  <div class="brand-assets">
    <div class="brand-icon">
      <ion-img src="../../../assets/icon/Doctoria - with text.svg"></ion-img>
    </div>

    <div class="brand-slogan">
      <p>Reliable doctors. Easy appointment.</p>
    </div>
  </div>

  <h5>Log into your account</h5>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-item class="item-content" lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        ngModel
        name="email"
        type="text"
        placeholder="e.g. joe@rogan.com"
        required
      ></ion-input>
    </ion-item>

    <ion-item class="item-content" lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        required
        name="password"
        placeholder="********"
        ngModel
      ></ion-input>
    </ion-item>

    <ion-button
      [routerLink]="['/forgot-password']"
      class="forgot-pass"
      color="medium"
      fill="clear"
      >Forgot Password?</ion-button
    >

    <ion-row class="bttns-row">
      <ion-col>
        <ion-button type="submit" color="primary" expand="block"
          >Log In</ion-button
        >
        <ion-button
          color="tertiary"
          fill="outline"
          expand="block"
          (click)="onGoogleLogin()"
          ><ion-icon slot="start" name="logo-google"></ion-icon>Log In with
          Google</ion-button
        >
        <ion-button
          color="medium"
          fill="clear"
          expand="block"
          [routerLink]="['/signup']"
          >Don't have an account? Sign up</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
</ion-content>
