<ion-header collapse="condense">
  <ion-toolbar>
    <ion-title size="medium">Discover</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-slides pager="true" [options]="sliderConfig">
    <ion-slide *ngFor="let options of slideOpts">
      <ion-card
        *ngIf="options !== undefined"
        class="popular ion-text-start ion-padding"
        [routerLink]="['/', 'doctor', options.uid]"
        routerDirection="forward"
      >
        <img
          class="card-img"
          src="../../assets/alt-5ae892611bf1a-5168-1472832016f2509f3889266323039a33@1x.jpg"
        />
        <ion-card-header>
          <ion-card-subtitle>{{options.specialisation}}</ion-card-subtitle>
          <ion-card-title>{{options.fullName}}</ion-card-title>
        </ion-card-header>
        <ion-row
          ><ion-icon name="pricetag-outline"></ion-icon
          >{{options.city}}</ion-row
        >
        <ion-row ion-justify-content-between>
          <ion-col>
            <!-- <ion-icon name="location-outline"></ion-icon>-->
            Starting from:</ion-col
          >
          <ion-col>{{options.startingPrice}} lei</ion-col></ion-row
        >
      </ion-card>
    </ion-slide>
  </ion-slides>

  <h4 class="subtitle">Specialisations</h4>

  <ion-list *ngFor="let s of specialisations">
    <ion-item
      detail
      routerDirection="forward"
      [routerLink]="['/', 'specialisation', s]"
    >
      <h3>{{s}}</h3>
    </ion-item>
  </ion-list>
</ion-content>
