<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-icon
        slot="start"
        name="arrow-back"
        color="secondary"
        router-direction="back"
        [routerLink]="['/login']"
      >
      </ion-icon>
    </ion-buttons>
    <ion-title>Change your password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #f="ngForm" (ngSubmit)="resetPass(f)">
    <ion-item lines="full">
      <ion-label position="floating">Your email</ion-label>
      <ion-input
        ngModel
        name="email"
        type="text"
        placeholder="e.g. joe@rogan.com"
        required
      ></ion-input>
    </ion-item>
    <ion-note color="medium"
      >Make sure it's the same email with the one you've registered.</ion-note
    >
    <ion-button type="submit" color="primary" expand="block"
      >Send password reset link</ion-button
    >
  </form>
</ion-content>
