<ion-content class="content">
  <form #f="ngForm" (ngSubmit)="resetPass(f)">
    <h5>Reset your password</h5>
    <ion-item lines="full">
      <ion-label position="floating">Your email</ion-label>
      <ion-input
        ngModel
        name="email"
        type="text"
        placeholder="e.g. joe@rogan.com"
        required
      ></ion-input>
    </ion-item>

    <div class="note">
      <ion-icon name="alert-circle-outline"></ion-icon>
      <ion-note color="medium"
        >Make sure you input the same email with the one you've
        registered.</ion-note
      >
    </div>

    <ion-button class="submit-bttn" type="submit" color="primary" expand="block"
      >Send password reset link</ion-button
    >

    <ion-buttton
      class="back-bttn"
      color="medium"
      fill="clear"
      expand="block"
      router-direction="back"
      [routerLink]="['/login']"
    >
      Back to login
    </ion-buttton>
  </form>
</ion-content>
