ion-content {
  --offset-top: 80px;
  --padding-top: 40px;
  --padding-start: 16px;
  --padding-end: 16px;
}

h5 {
  margin-left: 16px;
}

ion-item {
  --background: transparent !important;
}

.note {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  padding: 16px;
}

ion-icon {
  margin-bottom: 4px;
}

.submit-bttn {
  margin-top: 16px;
}

.back-bttn {
  margin-top: 16px;
  display: block;
  width: 100%;
  padding: 16px;
  text-align: center;
}
